.filter-container {
    display: flex;
    align-items: center;
    min-width: 80vw;
    margin-bottom: $spacing-16;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .filter-item {
      @include typography($font-size-16, $regular-400, $primary-color);
      margin-right: $spacing-16;
      padding: $spacing-10 $spacing-12;
      border-radius: calc($border-radius / 2);
      background-color: $tertiary-color;
      white-space: nowrap;
      cursor: pointer;
      transition: transform 0.2s;
  
      &.active {
        @include typography($font-size-16, $regular-400, $tertiary-color);
        background-color: $primary-color;
      }
  
    //   &:last-child {
    //     margin-right: $spacing-0;
    //   }
  
      &:hover {
        transform: scale(0.98);
      }
  
      &:focus-visible {
        outline: none;
        transform: scale(0.98);
      }
    }
  }
  

  .daily-weather-forecast-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-16 $spacing-20;
    border-radius: $border-radius;
    background-color: $tertiary-color;
  
    .daily-weather-forecast-date-time {
      width: 100%;
      margin-right: $spacing-12;
  
      .daily-weather-forecast-date {
        @include typography($font-size-14, $regular-400, $accent-color);
        margin-bottom: $spacing-6;
      }
  
      .daily-weather-forecast-time {
        @include typography($font-size-16, $regular-400, $primary-color);
      }
    }
  
    .daily-weather-forecast-icon {
      min-height: 36px;
      min-width: 36px;
      height: 36px;
      width: 36px;
      margin-right: $spacing-12;
      margin-left: auto;
    }
  
    .daily-forecast-weather-details {
      .daily-weather-forecast-temperature {
        @include typography($font-size-16, $medium-500, $primary-color);
        margin-bottom: $spacing-6;
      }
  
      .daily-weather-forecast-description {
        @include typography($font-size-14, $regular-400, $accent-color);
      }
    }
  }
  