.search-box-input {
  @include typography($font-size-16, $regular-400, $primary-color);
  height: 52px;
  width: 80%;
  padding: $spacing-14 $spacing-16 $spacing-14 $spacing-0;
  border-width: $spacing-0;
  border-radius: $spacing-0 $border-radius $border-radius $spacing-0;
  outline: none;
  background-color: $tertiary-color;
//   border: 1px solid red;
  margin-left: -1em;

  &::placeholder {
    @include typography($font-size-16, $regular-400, $accent-color);
  }
}

.search-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  min-width: 56px;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $tertiary-color;
  cursor: pointer;
  transition: transform 0.2s;

//   margin-right: -2em;

  path {
    fill: $primary-color;
  }

  &:hover {
    transform: none;
  }

  //   &:focus-visible {
  //     outline: none;
  //     // transform: scale(0.98);
  //   }
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-14 $spacing-16;
  border-radius: $border-radius;
  background-color: $primary-color;
  cursor: pointer;
  transition: transform 0.2s;

  .cta-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      fill: $secondary-color;
    }
  }

  .cta-button-text {
    @include typography($font-size-16, $medium-500, $secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $spacing-12;
    white-space: nowrap;
  }

  &:hover {
    transform: scale(0.98);
  }

  &:focus-visible {
    outline: none;
    transform: scale(0.98);
  }
}
